@import url('https://fonts.cdnfonts.com/css/arcade-classic');

*{
    font-family:  'ArcadeClassic', sans-serif !important;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start-button{
    display: block;
    text-decoration: none;
    color: green;
    font-size: 3rem;
    border: 3px solid green;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(204, 255, 204);
}

.start-button:hover{
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.game-title{
    
    font-size: 8rem;
}

